[submodule "mediawiki/extensions/Math"]
	path = mediawiki/extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
[submodule "mediawiki/extensions/MathSearch"]
	path = mediawiki/extensions/MathSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MathSearch
[submodule "mediawiki/extensions/JsonConfig"]
	path = mediawiki/extensions/JsonConfig
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/JsonConfig
[submodule "mediawiki/extensions/TemplateStyles"]
	path = mediawiki/extensions/TemplateStyles
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateStyles
