version: '3.4'

x-common-variables: &wikibase_variables
    WIKIBASE_HOST: localhost
    WIKIBASE_PORT: 8080    
    WDQS_FRONTEND_HOST: localhost
    WDQS_FRONTEND_PORT: 8834
    QUICKSTATEMENTS_HOST: localhost
    QUICKSTATEMENTS_PORT: 8840
    GRAFANA_PORT: 3000
    # required by quickstatements for creating OAuth consumers,
    # and by wikibase for redirecting back to quickstatements
    QS_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${QUICKSTATEMENTS_HOST}:${QUICKSTATEMENTS_PORT}'
    WB_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${WIKIBASE_HOST}:${WIKIBASE_PORT}'

services:
  wikibase:
    ports:
      - "${WIKIBASE_PORT}:80"
    environment:
      <<: *wikibase_variables
      
  wdqs-frontend:
    ports:
     - "${WDQS_FRONTEND_PORT}:80"

  quickstatements:
    ports:
      - "${QUICKSTATEMENTS_PORT}:80"
    environment:
      <<: *wikibase_variables

  selenium:
    image: aot29/selenium
    container_name: mardi-selenium
    volumes:
      - ./test:/test

  backup:
    volumes:
      # only for running tests
      - ./test:/test

  grafana:
    ports:
      - "${GRAFANA_PORT}:3000"
