version: '3.4'

x-common-variables: &wikibase_variables
    # required by quickstatements for creating OAuth consumers,
    # and by wikibase for redirecting back to quickstatements
    QS_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${QUICKSTATEMENTS_HOST}:${QUICKSTATEMENTS_PORT}'
    WB_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${WIKIBASE_HOST}:${WIKIBASE_PORT}'
    RESTART: 'no'
    
services:
  wikibase:
    ports:
      - "${WIKIBASE_PORT}:80"
    restart: ${RESTART}
    environment:
      <<: *wikibase_variables

  wikibase_jobrunner:
    restart: ${RESTART}

  mysql:
    restart: ${RESTART}

  wdqs-frontend:
    ports:
     - "${WDQS_FRONTEND_PORT}:80"
    restart: ${RESTART}

  quickstatements:
    ports:
      - "${QUICKSTATEMENTS_PORT}:80"
    restart: ${RESTART}
    environment:
      <<: *wikibase_variables

  backup:
    restart: ${RESTART}
    volumes:
      # only for running tests
      - ./test:/test

  reverse-proxy:
    restart: ${RESTART}

  elasticsearch:
    restart: ${RESTART}

  wdqs:
    restart: ${RESTART}

  wdqs-proxy:
    restart: ${RESTART}

  wdqs-updater:
    restart: ${RESTART}
    
  portainer:
    restart: ${RESTART}

  latexml:
    restart: ${RESTART}
    
  selenium:
    image: aot29/selenium
    restart: ${RESTART}
    container_name: mardi-selenium
    volumes:
      - ./test:/test

  openrefine:
    image: ghcr.io/aot29/docker-openrefine:master
    restart: ${RESTART}
    ports:
      - "3333:3333"
    volumes:
      - ./data:/data
    environment:
      - REFINE_INTERFACE=0.0.0.0
      - REFINE_PORT=3333
      - REFINE_MEMORY=1024M
      - REFINE_DATA_DIR=/data

  prometheus:
    ports:
      - "9090:9090"
    restart: ${RESTART}

  grafana:
    restart: ${RESTART}
    ports:
      - "${GRAFANA_PORT}:3000"

  watchtower:
    restart: ${RESTART}
