version: '3.4'

x-common-variables: &wikibase_variables
    # required by quickstatements for creating OAuth consumers,
    # and by wikibase for redirecting back to quickstatements
    QS_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${QUICKSTATEMENTS_HOST}:${QUICKSTATEMENTS_PORT}'
    WB_PUBLIC_SCHEME_HOST_AND_PORT: 'http://${WIKIBASE_HOST}:${WIKIBASE_PORT}'
    RESTART: 'no'
    BOTUSER_NAME: ${IMPORTER_USER}
    BOTUSER_PW: ${IMPORTER_PASS}

services:
  wikibase:
    ports:
      - "${WIKIBASE_PORT}:80"
      - "${MONGO_DB_PORT}:8081"
    restart: ${RESTART}
    environment:
      <<: *wikibase_variables

  wikibase_jobrunner:
    restart: ${RESTART}

  mysql:
    restart: ${RESTART}

  wdqs-frontend:
    ports:
     - "${WDQS_FRONTEND_PORT}:80"
    restart: ${RESTART}
    environment:
      - WIKIBASE_HOST=wikibase.svc

  quickstatements:
    ports:
      - "${QUICKSTATEMENTS_PORT}:80"
    restart: ${RESTART}
    environment:
      <<: *wikibase_variables

  mardi-backup:
    restart: ${RESTART}
    volumes:
      # only for running tests
      - ./test:/test

  importer:
    restart: ${RESTART}
    environment:
      - SPARQL_ENDPOINT_URL=http://wdqs-proxy.svc/bigdata/namespace/wdq/sparql

  importer-api:
    ports:
     - "5000:80"
    restart: ${RESTART}

  elasticsearch:
    restart: ${RESTART}
    environment:
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"

  wdqs:
    restart: ${RESTART}
    environment:
     - WIKIBASE_HOST=wikibase.svc

  wdqs-proxy:
    restart: ${RESTART}

  wdqs-updater:
    restart: ${RESTART}
    environment:
     - WIKIBASE_HOST=wikibase.svc

  portainer:
    restart: ${RESTART}

  latexml:
    restart: ${RESTART}

  selenium:
    image: aot29/selenium
    restart: ${RESTART}
    container_name: mardi-selenium
    volumes:
      - ./test:/test
    labels:
      - traefik.enable=false

  openrefine:
    image: ghcr.io/aot29/docker-openrefine:master
    restart: ${RESTART}
    ports:
      - "3333:3333"
    volumes:
      - ./data:/data
    environment:
      - REFINE_INTERFACE=0.0.0.0
      - REFINE_PORT=3333
      - REFINE_MEMORY=1024M
      - REFINE_DATA_DIR=/data

  traefik:
    restart: ${RESTART}
    labels:
      - traefik.http.routers.dashboard-local.rule=Host(`localhost`)
      - traefik.http.routers.dashboard-local.entrypoints=websecure
      - traefik.http.routers.dashboard-local.tls.certResolver=le
      - traefik.http.routers.dashboard-local.service=api@internal

  prometheus:
    restart: ${RESTART}
    ports:
      - "${PROMETHEUS_PORT}:9090"

  grafana:
    restart: ${RESTART}
    ports:
      - "${GRAFANA_PORT}:3000"

  watchtower:
    restart: ${RESTART}

  wikibase_updater:
    image: "ghcr.io/mardi4nfdi/docker-wikibase:main"
    entrypoint: /usr/local/bin/php
    command:  /var/www/html/maintenance/update.php --conf /shared/LocalSettings.php
    links:
      - mysql
      - mongo
    depends_on:
      - mysql
      - mongo
    restart: ${RESTART}
    volumes:
      - shared_mardi_wikibase:/shared/
      - ./mediawiki/LocalSettings.d:/shared/LocalSettings.d:ro
      - ./mediawiki/jobrunner-entrypoint.sh:/jobrunner-entrypoint.sh
    networks:
      default:
        aliases:
          - wikibase-updater.svc
