[mariadb]
query_cache_size=64M
sort_buffer_size=4M
read_rnd_buffer_size=1M
performance_schema=ON
key_buffer_size=24M
innodb_buffer_pool_size=4G
innodb_log_file_size=32M
skip-log-bin
max_connections=1000
max_allowed_packet=100M
query_cache_size = 0
query_cache_type = 0
