http:
  routers:
    home:
      rule: Host(`mardi4nfdi.org`,`mardi4nfdi.org`)
      service: whoami-docker@docker
      entryPoints: [websecure]
      tls:
        certResolver: le
      middlewares:
        - org-redirectregex
  middlewares:
    org-redirectregex:
      redirectRegex:
        regex: "^https?://(www\\.)?mardi4nfdi\\.org(.*)"
        replacement: "https://www.mardi4nfdi.de"
