# prometheus configuration file
global:
  scrape_interval:     5s
  evaluation_interval: 5s

  external_labels:
    monitor: 'mardi-monitor'

rule_files:
  # - "first.rules"
  # - "second.rules"

scrape_configs:
  - job_name: prometheus
    scrape_interval: 5s
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: traefik
    scheme: http
    metrics_path: /metrics
    static_configs:
      - targets: ['reverse-proxy:8082']
    basic_auth:
      username: $TRAEFIK_USER
      password: $TRAEFIK_PW
  - job_name: node
    scrape_interval: 30s
    static_configs:
      # note: localhost because node_exporter service uses network_mode=host
      # env var needs to be replaced with envsubst or sed by setup script
      - targets: ['$HOST_NETWORK_IP:9101']
