log:
  level: DEBUG

accessLog:
  filePath: "/data/log/access.log"

api:
  dashboard: true

entryPoints:
  websecure:
    address: ":443"
  web:
    address: ":80"
    # redirect to https
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  metrics:
    address: :8082

metrics:
  prometheus:
    entryPoint: metrics

tracing:
  serviceName: traefik
  jaeger:
    samplingServerURL: http://jaeger:5778/sampling
    samplingType: const
    samplingParam: 1.0
    localAgentHostPort: jaeger:6831

providers:
  docker: {}
  file:
    directory: "/traefik-conf"
    watch: true

certificatesResolvers:
  le:
    acme:
      tlschallenge: true
      storage: /letsencrypt/acme.json
      email: ssl-mardi01@ckurs.de
      httpChallenge:
        # used during the challenge
        entryPoint: web
