num_workers: 1
logging:
  level: info

services:
  - name: eventstreams
    module: ./app.js
    conf:
      port: 8092
      
      stream_config_uri: /srv/service/stream-config.yaml
      
      kafka:
        metadata.broker.list: kafka.svc:9092
        group.id: eventstreams-consumer
        api.version.request: true